<a href="https://colab.research.google.com/github/sirisha1398/PYTHON-U/blob/module-3/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
A = {
  'cars': ["BMW", "Volvo", "Ford", "Audi"],
  'passings': [3, 7, 2, 5]
}
x = pd.DataFrame(A)
print(x)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
3   Audi         5

In [ ]:
import pandas
pandas.__version__

'1.3.5'

In [ ]:
import pandas as pd
A = {
  'menu': ["veg", "nonveg", "chinese"],
  'hospitals': ["apollo", "NRI", "AMG"],
  'genres': ["comedy", "horror", "scientific"]
}
x = pd.DataFrame(A)
print(x)

      menu hospitals      genres
0      veg    apollo      comedy
1   nonveg       NRI      horror
2  chinese       AMG  scientific

In [ ]:
##series

import pandas as pd
A = [9, 8, 7]
x = pd.DataFrame(A)
print (x)

   0
0  9
1  8
2  7

In [ ]:
import pandas as pd
A = [9, 8, 7]
x = pd.DataFrame(A)
print (x[0])

0    9
1    8
2    7
Name: 0, dtype: int64

In [ ]:
import pandas as nsk
A = [9, 8, 7, 6, 5, 4]
x = nsk.DataFrame(A)
print (x)

   0
0  9
1  8
2  7
3  6
4  5
5  4

In [ ]:
##own label

import pandas as pd
a = [9, 8, 7]
r = pd.Series(a, index = ["x", "y", "z"])
print(r)

x    9
y    8
z    7
dtype: int64

In [ ]:
import pandas as pd
a = [5,6,7]
r = pd.Series(a, index = ["x", "y", "z"]) 
print(r["z"])

7

In [ ]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
X = pd.Series(calories)
print(X)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
X = pd.Series(calories, index = ["day2", "day3"])
print(X)

day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
X = pd.Series(calories)
print(X["day2"])

380

In [ ]:
import pandas as pd
A = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
x = pd.DataFrame(A)
print(x.loc[1])

calories    380
duration     40
Name: 1, dtype: int64